{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil du Garage Parrot</h1>
    <p>Ceci est la page d'accueil du site web du Garage Parrot. Vous pouvez naviguer vers différentes sections depuis le menu ci-dessus.</p>
{% endblock %}
