{# templates/admin/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}
    <h1>Bienvenue dans l'espace administrateur</h1>
    <p>Gestion des utilisateurs, des services, et plus encore.</p>
{% endblock %}
