{% extends 'base.html.twig' %}

{% block title %}New Horaire{% endblock %}

{% block body %}
    <h1>Create new Horaire</h1>

    {{ include('horaire/_form.html.twig') }}

    <a href="{{ path('app_horaire_index') }}">back to list</a>
{% endblock %}
