{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}
<section id="contact">
    <div class="container">
        <h2>Comment pouvons-nous vous aider !</h2>
        <div class="contact-content">
            <div class="contact-image">
                <img src="{{ asset('images/Contact.png') }}" alt="Contact Illustration">
            </div>
            <div class="contact-info">
                <p><strong>Adresse postale</strong><br>123 Avenue saint-martin<br>Paris, France 75019</p>
                <p><strong>Email Address</strong><br><a href="mailto:contact@lynx_auto_moto.com">contact@b2academy.com</a></p>
                <p><strong>Phone Number</strong><br><a href="tel:+3352484890">01 67 58 48 48</a></p>
            </div>
        </div>
    </div>
</section>

<section id="newsletter">
    <div class="container">
        <h2>Infos & bons plans, abonnez-vous !</h2>
        <form id="newsletter-form">
            <input type="email" id="email" name="email" placeholder="Votre email" required>
            <button type="submit">Envoyer</button>
        </form>
    </div>
</section>
{% endblock %}