{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h1>Connexion</h1>

<form method="post" action="{{ path('app_login') }}">
    <div>
        <label for="username">Email :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>
    </div>
    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" required>
    </div>
    <button type="submit">Se connecter</button>
</form>

{% if error %}
    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
{% endblock %}
