{# templates/temoignage/moderation.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modération des témoignages{% endblock %}

{% block body %}
    <h1>Modération des témoignages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Commentaire</th>
                <th>Note</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for temoignage in temoignages %}
            <tr>
                <td>{{ temoignage.nom }}</td>
                <td>{{ temoignage.commentaire }}</td>
                <td>{{ temoignage.note }}/5</td>
                <td>
                    <a href="{{ path('app_temoignage_approuver', {id: temoignage.id}) }}" class="btn btn-success">Approuver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun témoignage en attente de modération.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
