{% extends 'base.html.twig' %}

{% block title %}New VoitureOccasion{% endblock %}

{% block body %}
    <h1>Create new VoitureOccasion</h1>

    {{ include('voiture_occasion/_form.html.twig') }}

    <a href="{{ path('app_voiture_occasion_index') }}">back to list</a>
{% endblock %}
